#tpbr{
    background-color:chartreuse;
}


#logo{
    height: 80px;
    width: 120px;
    margin-left: 20px;
    margin-top: 5px;
}
#a4{ 
    font-size: 25px;
    font-weight: bold;
   margin-top: 20px;
}
#nav{
    background-color: antiquewhite;
    text-align: right;
   
  
   
}
#a1{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
   
}
#a2{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
   
}
#a3{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
    margin-bottom: 10px;
   
}