#im2{
    height: 100px;
    width: 150px;
    margin-left: 50px;
    margin-top: 25px;
   
}
#cd1{
    border-color: 2px solid grey;
     background-color: rgb(184, 238, 238);
     height: 150px;
     margin-top: 50px;
     width: 800px;
     margin-left: 250px;
     border-radius: 10px;
    
}
#pp1{
    margin-left: 250px;
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
}
#dlt{
    margin-left: 700px;
    margin-top: -80px;
    color: black;

}
#hh{
    text-align: center;
}
.last{
    margin-left: 500px;
    margin-top: 50px;
}
#bbt{
    background-color: rgb(158, 158, 182);
    color: black;
}
#bbt1{
    margin-left: 150px;
    margin-top: -40px
}